/* Stile generale */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Assicurarsi che il body occupi almeno l'altezza della finestra */
    display: flex;
    flex-direction: column;
}



/* Header */
header {
    padding: 20px;
    border-bottom: 2px solid #dddddd;
}

.container {
    display: flex;
    justify-content: space-between; /* Divide le colonne */
    margin-bottom: 10px; /* Spazio tra le colonne e l'ultima riga */
}



/* Contenitore sinistro dell'intestazione */
.header-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



/* Icone social */
.social-icons {
    display: flex;
    gap: 15px; /* Maggiore distanza tra le icone */
    margin-bottom: 15px;
    margin-right: 0px;
}
.social-icons img {
    width: 30px; /* Dimensione delle icone */
    height: 30px;
    cursor: pointer;
    transition: opacity 0.3s;
}
.social-icons img:hover {
    opacity: 0.8; /* Effetto al passaggio del mouse */
}


/* Indirizzo */
.header-address {
    text-align: left;
}
header h2 {
    font-size: 20px;
    color: brown;
    font-weight: 700; /* Roboto Bold */
    margin: 0;
    margin-top: 15px; /* Maggiore margine dalle icone social */
}
header h2 span {
    display: block;
}
.address {
    color: rgb(51, 51, 51);
    font-weight: 700; /* Roboto Bold */
    text-decoration: none;
    font-size: 16px;
    margin-top: 2px; /* Maggiore margine dalle icone social */
}
.address:hover {
    text-decoration: none; /* Rimuovere sottolineatura al passaggio del mouse */
}



/* Contenitore destro dell'intestazione */
.header-right {
    display: flex;

    justify-content: flex-end;
}
header img {
    max-width: 150px;
    height: auto;
}


.header-down {
    text-align: center;
}
/* Titolo principale */
h1 {
    font-size: 40px;
    color: brown;
    font-weight: 700; /* Roboto Bold */
    text-align: center;
    margin: 0;
}
h1 span {
    display: block;
}




/* Main content */
main {
    flex: 1; /* Occupa tutto lo spazio disponibile tra header e footer */
}

.menu-buttons {
    margin: 20px;
}

/* Container della categoria */
.category-container {
    margin-bottom: 20px;
}

/* Pulsanti delle categorie */
.category-button {
    display: block;
    width: 100%;
    background-color: #cccccc;
    color: rgb(165, 0, 0);
    font-weight: 700; /* Roboto Bold */
    font-size: 25px;
    padding: 15px;
    text-align: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

/* Contenitore del menu della categoria */
.menu-content {
    display: none; /* Inizialmente nascosto */
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

/* Stile degli elementi del menu */
.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #444444;
}

.menu-item img {
    max-width: 150px;
    height: auto;
    border-radius: 10px;
}


.menu-item .info {
    flex: 1;
    padding-right: 10px;
}

.menu-item h3 {
    margin: 0;
    font-size: 18px;
    color: #000000;
    font-weight: bold;
}

.menu-item .price1 {
    margin-top: 5px;
    color: green;
    font-weight: bold;
}

.menu-item .price2 {
    margin-top: 5px;
    color: green;
    font-weight: bold;
}

.menu-item .price3 {
    margin-top: 5px;
    color: green;
    font-weight: bold;
}



.menu-item p {
    margin: 5px 0;
    color: #555555;
}

.tags {
    margin-top: 5px;
    font-size: 14px;
}

/* Footer */
footer {
    background-color: #333333; /* Grigio scuro */
    color: #ffffff; /* Testo chiaro */
    padding: 20px;
    text-align: center;
    font-size: 14px;
    border-top: 2px solid #dddddd;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}